<ul class="student-chart-list <%= student.first_name.downcase + '-' + student.last_name.downcase %>">
	<% charts.each do |chart| %>
		<li><%= link_to chart.chart_name, chart_path(chart) %></li>
	<% end %>
</ul> 