<div id="draw">
</div>
<div id="adjustments">
	<h1>John Smith</h1>
	<div class="seesay">see/say</div>
	<div class="colors">colors</div>
		<ul>
    	<li>Corrects</li>
    	<li><img class="subtract" id="sub-correct" width="40" height="40" src="buttons/subtract.png" />
    		<p id="corrects" class="input"></p>
    		<img class="add" id="add-correct" width="40" height="40" src="buttons/add.png" /></li>
    	<li>Errors</li>
        <li><img class="subtract" id="sub-error" width="40" height="40" src="buttons/subtract.png" />
    		<p id="errors" class="input"></p>
    		<img class="add" id="add-error" width="40" height="40" src="buttons/add.png" /></li>
    	<li>Floor</li>
    	<li><img class="subtract" id="sub-floor" width="40" height="40" src="buttons/subtract.png" />
    		<p id="floors" class="input"></p>
    		<img class="add" id="add-floor" width="40" height="40" src="buttons/add.png" /></li>
    	<li>Trials</li>
    	<li><img class="subtract" id="sub-trial" width="40" height="40" src="buttons/subtract.png" />
    		<p id="trials" class="input"></p>
    		<img class="add" id="add-trial" width="40" height="40" src="buttons/add.png" /></li>
	</ul>
</div>