<nav class="students menu menu-vertical" id="students-menu">
	<h3>Students</h3>
	<% @students.each do |s| %>
		<a class="<%= s.first_name.downcase + '-' + s.last_name.downcase %>"><%= s.first_name %></a>
	<% end %>
</nav>

<div class="container students-charts">
	<% @students.each do |s| %>
		<%= render :partial => 'charts', :locals => {:student => s, :charts => s.charts} %>
	<% end %>
</div>