body {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
}

#draw {
	margin: 0;
	padding: 0;
}

#adjustments {
  	display: none;
  	z-index: 10;
  	color: black;
  	height: 60px;
  	background: rgba(242,242,242,.7);
  	position: absolute;
  	bottom: 0px;
}

.input {
	width: 40px;
	height: 40px;
	background-color: white;
	display: inline-block;
	text-align: center;
	line-height: 40px;
}

.seesay {
	float: left;
	text-align: left;
	padding-left: 10px;
}

.colors {
	float: left;
	text-align: left;
}

.label {
	padding-left: 20px;
	padding-right: 4px;
}

h1 {
	display: inline-block;
	font-size: 24px;
	line-height: 50px;
	text-align: left;
	padding-left: 20px;
	float: left;
}

ul {
	margin-top: 5px;
	font-size: 18px;
	line-height: 18px;
	float: left;
}

li {
	float: left;
	line-height: 40px;
}

img {
	float: left;
	display: inline-block;
}

p {
	display: inline-block;
	float: left;
}