<div class="top_nav">
	<span class="user-name"><%= current_user.first_name %></span>
	<span class="date"><%= Date.today %></span>
	<!--<% if current_user.is_teacher? %>
		<span class="classroom-num"><%= current_user.classroom_number %></span>
	<% end %>-->
</div>